<div class="container mt-5">
  <h1 class="display-4">Gosti</h1>
  <p class="lead">Lista svih gostiju</p>
  <hr class="my-4">

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Pretraga gostiju..." [(ngModel)]="searchQuery" (input)="onSearch()">
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Datum Dolaska</th>
      <th>Datum Odlaska</th>
      <th>Tip Gosta</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of filteredGuests">
      <td>{{ guest.id }}</td>
      <td><input type="text" class="form-control" [(ngModel)]="guest.ime"></td>
      <td><input type="text" class="form-control" [(ngModel)]="guest.prezime"></td>
      <td><input type="date" class="form-control" [(ngModel)]="guest.datumDolaska"></td>
      <td><input type="date" class="form-control" [(ngModel)]="guest.datumOdlaska"></td>
      <td>
        <select class="form-control" [(ngModel)]="guest.tipGosta">
          <option value="Regular">Regular</option>
          <option value="VIP">VIP</option>
        </select>
      </td>
      <td class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="saveGuest(guest)">Sačuvaj</button>
        <button class="btn btn-danger ms-2" (click)="deleteGuest(guest.id)">Obriši</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" class="form-control" [(ngModel)]="newGuest.ime" required></td>
      <td><input type="text" class="form-control" [(ngModel)]="newGuest.prezime" required></td>
      <td><input type="date" class="form-control" [(ngModel)]="newGuest.datumDolaska" required></td>
      <td><input type="date" class="form-control" [(ngModel)]="newGuest.datumOdlaska" required></td>
      <td>
        <select class="form-control" [(ngModel)]="newGuest.tipGosta" required>
          <option value="Regular">Regular</option>
          <option value="VIP">VIP</option>
        </select>
      </td>
      <td class="d-flex justify-content-center">
        <button class="btn btn-success" (click)="addGuest()" [disabled]="!isNewGuestValid()">Dodaj</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
