
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9A616D;
}

.container-fluid {
  height: 100%;
}

.row {
  margin: 0 !important;
  height: 100%;
}
